<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.everlytic.android.sandboxapp">

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            android:name=".App"
    >

        <meta-data android:name="com.everlytic.api.API_USERNAME" android:value="jason"></meta-data>
        <meta-data android:name="com.everlytic.api.API_KEY" android:value="4mw30eCcKrsY76QHgL58UlwbW164kAv0_0"></meta-data>
        <meta-data android:name="com.everlytic.api.PUSH_NOTIFICATIONS_LIST_ID" android:value="4"></meta-data>
        <meta-data android:name="com.everlytic.api.API_INSTALL_URL" android:value="qa.everlytic.net"></meta-data>

        <activity android:name=".Sandbox">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>